{% extends 'base.html.twig' %}


{%  block body %}
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ asset('img/decouvert/' ~ decouvert.image) }}" class="img-fluid" alt="">
		</div>
		<div class="col-sm-9">
			<h3>{{ decouvert.continent.name }}</h3>
			<p>{{ decouvert.description }}</p>
		</div>
	</div>
{%  endblock %}







