<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{path('homepage.index')}}">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('decouvert.index')}}">Découvertes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contact.index')}}">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('decouvert.add')}}">Ajouter un article de voyage</a>
			</li>
		</ul>
	</div>
</nav>